body {

    background-color: black;
}

.calculator {

    height: 600px;
    max-width: 400px;
    border-style: solid;

    /* background-color: blueviolet; */
}

.screen {


    height: 100px;
    width: 100%;
    font-size: 300%;
    text-align: right;
    padding-top: 10px;
    color: cornsilk;
    

    /* background-color: darkgrey; */
}

.keypad {

    display: grid;
    width: 100%;
    height: 500px;
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-items: stretch;

}

button {
    height: 100%;
    width: 100%;
    /* border-radius: 50px; */
    border-width: 1px;
    outline-style: inherit;
    /* ACCESIBILITY! */
    outline-width: thick;
    background-color: darkslategray;
    color: white;
    font-size: x-large;

}

/* .buttonclick {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    border-width: 0;
    outline-style: inherit;
    ACCESIBILITY!
    outline-width: thick;
    background-color: red;
    color: white;
    font-size: x-large;

} */

/* #region style calculator keys CSS grid*/
.zero {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
}


.one {

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
}
.two {

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
}

.three {

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
}

.four {

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
}

.five {

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
}

.six {

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
}

.seven {

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
}

.eight {

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}

.nine{

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
}

#operator {
    background-color: coral;
}

.divide {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
}

.multiply{

    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
}

.minus{

    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 3;
}

.plus{

    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
}

.equals{

    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 5;
}

.point{

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
}

.clear{
   
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
}

#clear {

    background-color:grey;
}

.percent{

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
}

#percent {

    background-color: grey;
}

.absolute {

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
}

#absolute {
    background-color: grey;
}

/* #endregion */


